html, body {
	margin: 0;
	padding: 0;
  	box-sizing: border-box;
	color: white;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Trebuchet MS', sans-serif;
}

.intro-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(63, 113, 192);
	margin: 1rem 0;
	padding: 1rem;
}

.title {
	margin: 1rem;
}

.profile-pic {
	display: block;
	height: 300px;
	border-radius: 50%;
	border: solid white .5rem;
}

.summary {
	max-width: 500px;
	margin: 0;
}

.link-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
}

.link {
	text-decoration: none;
	background-color: rgb(63, 113, 192);
	border: solid white 2px;
	color: white;
	padding: 0.2rem 0.5rem;
	margin: 1rem;
	cursor: pointer;
}

.link:hover {
	background-color:white;
	color: rgb(63, 113, 192);
}

.projects-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 320px;
	align-items: center;
	/* margin: 2rem 1rem; */
}

.project-tile-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.project-tile {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem 0;
	max-width: 350px;
	background-color: rgb(63, 113, 192);
}

.video {
	width: 320;
	height: 260;
	margin-bottom: 1rem;
}

.heading {
	margin: 1rem;
}

.description {
	margin: 0 2rem;
}

#projects {
	color: rgb(63, 113, 192);
}